<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop</title>
    <!--<link rel="import" href="index.html">-->
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/clock.css">

</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../timer"><img src="../img/icon.png" alt="일몰 이미지" class="sunset-image" width = "70px">
                <span style="font-size: 0.8em; vertical-align: middle;"></span></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-labe="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <form action="/index" method="post" class="form-inline">
                <button type="submit" class="btn btn-outline-light">로그아웃</button>
            </form>
        </div>
    </div>
</nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <ul>
        <li>
            <a href="#"><i class="fa-solid fa-cat"></i> menu</a>
            <ul>
                <li><a href="/todo">To-Do list</a></li>
                <li><a href="../board">게시판</a></li>
                <li><a href="/total">Total time</a></li>

            </ul>
        </li>
        <li class="subject">
            <a href="#"><i class="fa-solid fa-cat"></i>subject</a>
            <ul>
                <form action="/timer/subject" method="post">
                    <button class="Button1" id="addsub">과목 추가</button>
                    <div class="subject-dropdown">
                        <input class="select" type="subject" name="subject">
                    </div>
                </form>
                <form id="deleteForm" method="post">
                    <button class="Button1" id="delsub" type="button" onclick="deleteSubject()">과목 삭제</button>
                    <div class="subject-dropdown">
                        <select class="select" id="subjectselect" name="selectedSubjectId" onchange="callTimerFromServer()">
                            <option value="" disabled selected hidden>과목선택</option>
                            <option th:each="entity : ${list}" th:value="${entity.id}" th:text="${entity.subject}"></option>
                        </select>
                    </div>
                </form>

            </ul>
        </li>
</aside>

<script src ="../js/clock.js" defer></script>
<main class="container">
    <div class="clock">
        <!-- 시계에 숫자를 표시하는 요소 -->
        <div class="hour-mark">1</div>
        <div class="hour-mark">2</div>
        <div class="hour-mark">3</div>
        <div class="hour-mark">4</div>
        <div class="hour-mark">5</div>
        <div class="hour-mark">6</div>
        <div class="hour-mark">7</div>
        <div class="hour-mark">8</div>
        <div class="hour-mark">9</div>
        <div class="hour-mark">10</div>
        <div class="hour-mark">11</div>
        <div class="hour-mark" style="left: 30% top: 55%">12</div>

        <div class="hour" id="hour-hand"></div>
        <div class="minute" id="minute-hand"></div>
        <div class="second" id="second-hand"></div>
    </div>
</main>


<!-- 세션에서 loginMember 객체를 가져옵니다.-->
<div th:with="loginMember=${session.loginMember}">
    <div th:if="${loginMember != null && loginMember.memberName != null}">
        <p th:text="${loginMember.memberName} + ' 님'"></p>
    </div>
</div>


<!--<input class="select" style="top: 38%; left:69%; width:8% " type="subject" name="subject">-->

<div class="Timer" id="timer">00:00:00</div>
<div class="ButtonContainer">
    <button class="Button" id="startButton">Start</button>
    <button class="Button" id="stopButton">Stop</button>
    <!--<div id="selectedSubject" class = "selected-subject-container"></div>-->
</div>

<!--<form action="/timer/subject" method="post">
    <button class="Button1" id="addsub">과목 추가</button>
    <input class="select">
</form>-->

<!--<form id="deleteForm" method="post">
    <select class="select" id="subjectselect" name="selectedSubjectId" style="left: 69%; width:8%; top:34%">
        <option value="" disabled selected hidden>과목선택</option>
        <option th:each="entity : ${list}" th:value="${entity.id}" th:text="${entity.subject}"></option>
    </select>
    <button class="Button1" id="delsub" type="button" style="left: 60%; width:8%;" onclick="deleteSubject()">과목 삭제</button>
</form>-->

<script src="../js/timer.js"></script>
<!--
<script>
    $(document).ready(function() {
        // Start 버튼 옆에 선택된 과목을 표시하는 함수
        function displaySelectedSubject() {
            var selectedSubject = $("#subjectselect option:selected").text();
            $("#selectedSubject").text(selectedSubject);
        }

        // 페이지 로드 시 선택된 과목을 표시
        displaySelectedSubject();

        // select 요소에서 변경이 일어날 때마다 선택된 과목을 표시
        $("#subjectselect").change(function() {
            displaySelectedSubject();
        });
    });

</script>
-->

</body>
<footer>
    <div id="quoteContainer">
        <p id="quote"></p>
    </div>
    <script src="../js/quotes.js" defer></script>
    <style>
        /* 추가된 CSS */
        #quoteContainer {
            text-align: center;
            margin-bottom: 20px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
        }

        #quote {
            font-size: 20px;
            font-style: italic;
            color: #333;
        }
    </style>
</footer>



</html>


