<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일몰시 - To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/todolist.css">
    <style>

        .todo-wrap table {
            margin-left: 20px; /* TodoList 테이블의 왼쪽 여백 추가 */
        }

        /* 추가적인 CSS 스타일링 */
        /* 토요일 파란색으로 */
        .sat {
            color: blue !important;
        }
        /* 일요일과 공휴일 빨간색으로 */
        .sun, .holiday {
            color: red !important;
        }
        /* 클릭된 날짜에 동그라미로 테두리 추가 */
        /*.active {
            border: 2px solid black;
            border-radius: 50%;
        }*/
        /* completed 클래스에 대한 스타일 */
        .completed {
            /*background-color: lightgreen*/; /* 배경색을 초록색으로 설정 */
            text-decoration: line-through; /* 삭제선 추가 */
            /* 다른 스타일을 추가할 수도 있습니다. */
        }
        .circle-icon-btn i{
            font-size: 10px;
        }
        /* button 요소를 content-wrap 안에 오른쪽에 위치하도록 설정 */
        /*.todo-wrap{
            display: flex;
            justify-content: flex-end;
        }*/

    </style>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../timer"><img src="../img/icon.png" alt="일몰 이미지" class="sunset-image" width = "70px">
                <span style="font-size: 0.8em; vertical-align: middle;"></span></a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="/index" method="post" class="form-inline">
            <button type="submit" class="btn btn-outline-light">로그아웃</button>
        </form>
    </div>
</nav>
<aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <ul>
        <li>
            <a href="#"><i class="fa-solid fa-cat"></i> menu</a>
            <ul>
                <li><a href="/timer">Main</a></li>
                <li><a href="../board">게시판</a></li>
                <li><a href="#">Total time</a></li>
            </ul>
        </li>
</aside>



<!--<h1>투두리스트</h1> 동완 합침-->
<div class="wrapper">
    <header>
        <div class="nav">
            <button id="prev" class="material-icons"> chevron_left </button>
            <p class="current-date"></p>
            <button class="material-icons"> chevron_right </button>
        </div>
    </header>
    <div class="calendar">
        <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
        </ul>
        <ul class="days">

        </ul>
    </div>
    <script src="calender.js"></script>
</div>
<div class="main">
    <div class="content-wrap">
            <div class="todo-wrap">
                <div class="todo-title"><strong>Todo List</strong></div>
                <div class="input-wrap">
                    <div class="add-task">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                        <form class = "add-task-form" th:action="@{/todo/create}" method="post">
                        <input name="content" placeholder="오늘의 할 일을 적어보세요!"/>
                        <button>작성</button>
                        </form>
                    <div class="todo-table-container">
                        <table>
                            <tbody>
                            <tr th:each="todoentity : ${toDoEntityList}" >
                            <!--<td th:text="${todoentity.idx}"></td>-->
                            <!-- 동그란 아이콘 -->
                                <td>
                                    <button class="circle-icon-btn" th:data-id="${todoentity.idx}" onclick="toggleTodoStatus(this.getAttribute('data-id'))">
                                        <i class="fas fa-circle"></i>
                                    </button>
                                </td>
                                <!--<td>
                                    <div class="todo-button">
                                        <button class="circle-icon-btn" th:data-id="${todoentity.idx}" onclick="deleteItem(this.getAttribute('data-id'))">
                                            <i class="fas fa-circle"></i>
                                        </button>
                                    </div>
                                </td>-->
                            <!-- 여기서 completed 값에 따라 클래스를 동적으로 할당하여 스타일을 적용합니다. -->
                            <!--<td th:text="${todoentity.content}" th:class="${todoentity.completed} ? 'completed' : ''"></td>
                            <td th:text="${todoentity.completed}"></td>-->
                                <td onclick="toggleTodoStatus(${todoentity.idx})" th:class="${todoentity.completed} ? 'completed' : ''">
                                    <div class="todo-content">
                                        <span th:text="${todoentity.content}"></span>
                                    </div>
                                </td>

                                <!--<td>
                                    <button class="delete-btn" th:data-id="${todoentity.idx}" onclick="deleteItem(this.getAttribute('data-id'))">삭제</button></td>
                                <td><button class="revise-btn" th:data-id="${todoentity.idx}" onclick="openModal(this.getAttribute('data-id'))">수정</button></td>-->
                            <!-- HTML 코드 -->
                                <td>
                                    <div class ="todo-button">
                                        <button class="edit-btn" th:data-id="${todoentity.idx}" onclick="openModal(this.getAttribute('data-id'))">
                                            <i class="fas fa-edit"></i> <!-- 여기에 사용할 아이콘 클래스를 적절히 설정해주세요 -->
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class ="todo-button">
                                    <button class="delete-btn" th:data-id="${todoentity.idx}" onclick="deleteItem(this.getAttribute('data-id'))">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    </div>
                                </td>
                                <td>
                                    <div class ="todo-button">
                                    <button class="status-btn" th:data-id="${todoentity.idx}" th:data-status="${todoentity.completed}" onclick="toggleTodoStatus(this.getAttribute('data-id'))">
                                        <i class="fas fa-check-circle"></i> <!-- 여기에 사용할 아이콘 클래스를 적절히 설정해주세요 -->
                                    </button>
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
                    <!--<table id="calendar" align="center">
                        <thead>
                        <tr class="btn-wrap clearfix">
                            <td>
                                <label id="prev">
                                    &#60;
                                </label>
                            </td>
                            <td align="center" id="current-year-month" colspan="5"></td>
                            <td>
                                <label id="next">
                                    &#62;
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class = "sun" align="center">Sun</td>
                            <td align="center">Mon</td>
                            <td align="center">Tue</td>
                            <td align="center">Wed</td>
                            <td align="center">Thu</td>
                            <td align="center">Fri</td>
                            <td class= "sat" align="center">Sat</td>
                        </tr>
                        </thead>
                        <tbody id="calendar-body" class="calendar-body"></tbody>
                    </table>-->
<!--동완 합침-->


<div class="modal">
    <div class="modal_content">
        <input id="revise" placeholder="내용을 수정해주세요"/>
        <button type="submit" id="completeBtn" onclick="reviseItem()">완료</button>
    </div>
</div>
<!--동완 합침-->
<script src ="../js/calender.js" defer></script> <!--동완 합침-->
<!-- jQuery를 로드하는 스크립트를 추가합니다. -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/todo.js"></script>
<footer>
    <div id="quoteContainer">
        <p id="quote"></p>
    </div>
    <script src="../js/quotes.js" defer></script>
    <style>
        /* 추가된 CSS */
        #quoteContainer {
            text-align: center;
            margin-bottom: 20px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
        }

        #quote {
            font-size: 20px;
            font-style: italic;
            color: #333;
        }
    </style>
</footer>

</body>
</html>
